<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>322 Todo</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body id="household-body">
		<%- include ('./partials/messages') %>
		<nav>
			<div class="nav-container">
				<div class="brand">322 Todo</div>
				<li class="nav-item">Home</li>
				<li class="nav-item">Todo</li>
				<li class="nav-item">Shopping</li>
				<a href="/user/logout"><button id="logout-btn">Logout</button></a>
			</div>
		</nav>
		<% if (user.household != '') { %>
		<h1 id="dashboard-header"><%= household.name %>'s dashboard</h1>
		<div id="household-dashboard">
			<div class="container" id="chores-container">
				<h2><%= user.username %>'s chores</h2>
				<button class="add">+</button>
				<form action="/chores/create" class="new-chore-form">
					<div class="form-control">
						<label for="chore-title">Title</label>
						<input
							type="text"
							name="chore-title"
							id="chore-title"
							placeholder="Enter chore title"
						/>
					</div>
					<div class="form-control">
						<label for="chore-description">Description</label>
						<input
							type="text"
							name="chore-description"
							id="chore-description"
							placeholder="Enter chore description"
						/>
					</div>
					<div class="form-control">
						<label for="due-date">Due Date</label>
						<input type="date" name="due-date" id="chore-due-date" />
					</div>
					<div class="form-control">
						<label for="priority">Priority</label>
						<select name="priority" id="priority-select" class="priority">
							<option value="high">High</option>
							<option value="medium">Medium</option>
							<option value="low">Low</option>
						</select>
					</div>
					<button id="create-chore">Create chore</button>
				</form>
				<% if (household.chores != '') { %> <% household.chores.forEach(chore =>
				{ %>
				<div class="chore-container">
					<span class="chore-name"><%= chore.name %></span>
					<p class="chore-description"><%= chore.description %></p>
					<span class="due-date"><%= chore.dueDate %></span>
				</div>
				<% }) %> <% } else { %>
				<div class="no-chore-container">
					<p>There are no chores. Click "+" to create one</p>
				</div>
				<% } %>
			</div>
			<div class="container" id="reminders-container">
				<h2>Reminders</h2>
			</div>
			<div class="container" id="shopping-container">
				<h2><%= household.name %>'s Shopping List</h2>
			</div>
		</div>
		<% } else { %>
		<h1>Set up your household</h1>
		<div class="container" id="household-setup-container">
			<div class="form-control">
				<form
					action="/household/create"
					id="household-create-form"
					method="POST"
				>
					<div class="form-control" id="create-form-control">
						<label for="name">Name</label>
						<input type="text" placeholder="Enter household name" name="name" />
					</div>
					<button id="create-household-btn">Create household</button>
				</form>
			</div>
			<form id="household-join-form" action="/household/join" method="POST">
				<label for="household-code">Or join an existing household</label>
				<div class="form-control" id="join-form-control" name="household-code">
					<input
						type="text"
						id="household-code"
						name="household-code"
						placeholder="Enter access code"
					/>
					<button id="join-btn">Join</button>
				</div>
			</form>
		</div>
		<% } %>
		<script src="/js/script.js"></script>
	</body>
</html>
