<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Householder</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/3d133a60e4.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body id="household-body">
		<%- include ('./partials/messages') %>
		<nav>
			<div class="nav-container">
				<div class="brand">Householder</div>
				<div class="nav-item">
					<div class="user-nav">
						<i class="fas fa-user"></i>
						<span><%= user.username %></span>
						<i class="fas fa-angle-down"></i>
					</div>
					<a id="logout-btn" href="/user/logout"><button>Logout</button></a>
				</div>
			</div>				
		</nav>
		<% if (user.household != '') { %>
		<div id="dashboard-container">
			<h1 id="dashboard-header"><%= household.name %>'s dashboard</h1>
			<div id="household-dashboard">
				<div class="container" id="chores-container">
					<div class="container-header">
						<h2>Chores</h2>
						<i class="fas fa-plus add"></i>
					</div>
					<div class="chore-create-container">
						<form action="/chores/create" method="POST" id="chore-create-form">
							<div class="form-control">
								<label for="chore-title">Title</label>
								<input
									type="text"
									name="title"
									id="chore-title"
									placeholder="Enter chore title"
								/>
							</div>
							<div class="form-control">
								<label for="chore-description">Description</label>
								<input
									type="text"
									name="description"
									id="chore-description"
									placeholder="Enter chore description"
								/>
							</div>
							<div class="form-control">
								<label for="due-date">Due Date</label>
								<input type="date" name="dueDate" id="chore-due-date" />
							</div>
							<div class="form-control">
								<label for="assignee">Assign to:</label>
								<input type="text" name="assignee" id="chore-assignee" />
							</div>
							<button id="create-chore">Create chore</button>
						</form>
					</div>
					<% if (household.chores != '') { %> 
						<% household.chores.forEach((chore) => { %>
					<div class="chore-container">
						<span class="chore-title"><%= chore.title %></span>
						<p class="chore-description"><%= chore.description %></p>
							<% if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == -1) { %>
								<span class="due-date">Due <%= Math.abs(Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> day ago</span>
							<% } else if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) < 0) { %>
								<span class="due-date">Due <%= Math.abs(Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> days ago</span>  
							<% } else if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 0) { %>
								<span class="due-date">Due today</span>
							<% } else if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 1) { %> 
								<span class="due-date">Due tomorrow</span>
							<% } else { %>
								<span class="due-date">Due in <%= Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) %> days</span>
							<% } %>
						</span>
					</div>
					<% }) %> <% } else { %>
					<div class="no-chore-container">
						<p>There are no chores. Click "+" to create one</p>
					</div>
					<% } %>
				</div>
				<div class="container" id="reminders-container">
					<div class="container-header">
						<h2>Reminders</h2>
						<i class="fas fa-plus add"></i>
					</div>
				</div>
				<div class="container" id="shopping-container">
					<div class="container-header">
						<h2>Shopping List</h2>
						<i class="fas fa-plus add"></i>
					</div>
				</div>
			</div>
		</div>
		<% } else { %>
		<h1>Set up your household</h1>
		<div class="container" id="household-setup-container">
			<div class="form-control">
				<form
					action="/household/create"
					id="household-create-form"
					method="POST"
				>
					<div class="form-control" id="create-form-control">
						<label for="name">Name</label>
						<input type="text" placeholder="Enter household name" name="name" />
					</div>
					<button id="create-household-btn">Create household</button>
				</form>
			</div>
			<form id="household-join-form" action="/household/join" method="POST">
				<label for="household-code">Or join an existing household</label>
				<div class="form-control" id="join-form-control" name="household-code">
					<input
						type="text"
						id="access-code"
						name="accessCode"
						placeholder="Enter access code"
					/>
					<button id="join-btn">Join</button>
				</div>
			</form>
		</div>
		<% } %>
		<script src="/js/script.js"></script>
	</body>
</html>
