<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Householder</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/3d133a60e4.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body id="household-body">
		<div class="overlay">
			<%- include ('./partials/messages') %>
			<nav>
				<div class="nav-container">
					<div class="brand">Householder</div>
					<div class="nav-item">
						<div id="user-nav">
							<i class="fas fa-user"></i>
							<span id="nav-username"><%= user.username %></span>
							<i class="fas fa-caret-down"></i>
						</div>
						<div id="nav-menu-container" class="hidden">
							<div class="menu-item">
								<i class="fas fa-user-cog"></i>
								<span>Edit user</span>
							</div>
							<a id="logout-btn" href="/user/logout"><button>Logout</button></a>
						</div>
					</div>
				</div>				
			</nav>
			<% if (user.household != '') { %>
				<div id="dashboard-container">
					<div id="dashboard-header">
						<i class="fas fa-home"></i>
						<h1><%= household.name %></h1>
						<i class="fas fa-user-plus"></i>
						<i class="fas fa-cog"></i>
					</div>
					<div id="household-dashboard">
						<div class="container" id="chores-container">
							<div class="container-header">
								<h2>Chores</h2>
								<i class="fas fa-plus add"></i>
							</div>
							<div class="item-create-container">
								<form action="/chores/create" method="POST" id="chore-create-form">
									<div class="form-control">
										<label for="chore-title">Title</label>
										<input
											type="text"
											name="title"
											id="chore-title"
											placeholder="Enter chore title"
										/>
									</div>
									<div class="form-control">
										<label for="chore-description">Description</label>
										<input
											type="text"
											name="description"
											id="chore-description"
											placeholder="Enter chore description"
										/>
									</div>
									<div class="form-control">
										<label for="due-date">Due Date</label>
										<input type="date" name="dueDate" id="chore-due-date" />
									</div>
									<div class="form-control">
										<label for="assignee">Assign to:</label>
										<select name="assignee" id="chore-assignee">
											<% for (const member of household.members) { %>
												<option value="<%= member.username %>"><%= member.username %></option>
											<% } %>
										</select>
									</div>
									<button id="create-chore">Create chore</button>
								</form>
							</div>
							<% if (household.chores != '') { %> 
								<% household.chores.forEach((chore) => { %>
							<div class="chore-container">
								<span class="chore-title"><%= chore.title %></span>
								<p class="chore-description"><%= chore.description %></p>
									<% if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == -1) { %>
										<span class="due-date">Due <%= Math.abs(Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> day ago</span>
									<% } else if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) < 0) { %>
										<span class="due-date">Due <%= Math.abs(Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> days ago</span>  
									<% } else if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 0) { %>
										<span class="due-date">Due today</span>
									<% } else if (Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 1) { %> 
										<span class="due-date">Due tomorrow</span>
									<% } else { %>
										<span class="due-date">Due in <%= Math.round((chore.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) %> days</span>
									<% } %>
								<i class="fas fa-ellipsis-v"></i>
							</div>
							<% }) %> <% } else { %>
							<div class="no-items-container">
								<p>There are no chores. Click <i class="fas fa-plus add"></i> to create one</p>
							</div>
							<% } %>
						</div>
						<div class="container" id="reminders-container">
							<div class="container-header">
								<h2>Reminders</h2>
								<i class="fas fa-plus add"></i>
							</div>
							<div class="item-create-container">
								<form action="/reminders/create" method="POST" id="reminder-create-form">
									<div class="form-control">
										<label for="reminder-title">Title</label>
										<input
											type="text"
											name="title"
											id="reminder-title"
											placeholder="Enter reminder title"
										/>
									</div>
									<div class="form-control">
										<label for="due-date">Due Date</label>
										<input type="date" name="dueDate" id="reminder-due-date" />
									</div>
									<button id="create-reminder">Add reminder</button>
								</form>
							</div>
							<% if (household.reminders != '') { %> 
								<% household.reminders.forEach((reminder) => { %>
								<div class="reminder-container">
									<span class="reminder-title"><%= reminder.title %></span>
										<% if (Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == -1) { %>
											<span class="due-date">Due <%= Math.abs(Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> day ago</span>
										<% } else if (Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) < 0) { %>
											<span class="due-date">Due <%= Math.abs(Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> days ago</span>  
										<% } else if (Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 0) { %>
											<span class="due-date">Due today</span>
										<% } else if (Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 1) { %> 
											<span class="due-date">Due tomorrow</span>
										<% } else { %>
											<span class="due-date">Due in <%= Math.round((reminder.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) %> days</span>
										<% } %>
									</span>
								</div>
							<% }) %> <% } else { %>
							<div class="no-items-container">
								<p>There are no reminders. Click <i class="fas fa-plus add"></i> to create one</p>
							</div>
							<% } %>
						</div>
						<div class="container" id="shopping-container">
							<div class="container-header">
								<h2>Shopping List</h2>
								<i class="fas fa-plus add"></i>
							</div>
							<% if (household.shoppingList != '') { %> 
								<% household.shoppingList.forEach((item) => { %>
							<div class="item-container">
								<span class="item-title"><%= item.title %></span>
								<p class="item-description"><%= item.description %></p>
									<% if (Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == -1) { %>
										<span class="due-date">Due <%= Math.abs(Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> day ago</span>
									<% } else if (Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) < 0) { %>
										<span class="due-date">Due <%= Math.abs(Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1)) %> days ago</span>  
									<% } else if (Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 0) { %>
										<span class="due-date">Due today</span>
									<% } else if (Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) == 1) { %> 
										<span class="due-date">Due tomorrow</span>
									<% } else { %>
										<span class="due-date">Due in <%= Math.round((item.dueDate.getTime() - today.getTime()) / (60 * 60 * 24 * 1000) + 1) %> days</span>
									<% } %>
								</span>
							</div>
							<% }) %> <% } else { %>
							<div class="no-items-container">
								<p>There are no items. Click <i class="fas fa-plus add"></i> to add one</p>
							</div>
							<% } %>
						</div>
					</div>
				</div>
			<% } else { %>
			<h1 id="landing-header">Welcome to Householder</h1>
			<p>Set up a household to get started</p>
			<div class="container" id="household-setup-container">
				<div class="form-control">
					<form
						action="/household/create"
						id="household-create-form"
						method="POST"
					>
						<div class="form-control" id="create-form-control">
							<label for="name">Name</label>
							<input type="text" placeholder="Enter household name" name="name" />
						</div>
						<button id="create-household-btn">Create household</button>
					</form>
				</div>
				<form id="household-join-form" action="/household/join" method="POST">
					<label id="access-code-label" for="household-code">Want to join a household? Enter the access code below</label>
					<div class="form-control" id="join-form-control" name="household-code">						
						<input
							type="text"
							id="access-code"
							name="accessCode"
							placeholder="Enter access code"
						/>
						<button id="join-btn">Join</button>
					</div>
				</form>
			</div>
			<% } %>
			<script src="/js/script.js"></script>
		</div>
	</body>
</html>
